@import url("styles/header.css");
@import url("styles/cabecalho.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/oportunidades.css");
@import url("styles/depoimentos.css");
@import url("styles/rodape.css");


:root {
    --cor-de-fundo: #FFFFFF;
    --vermelho-principal: #8E2424;
    --cinza-escuro: #101828;
    --cinza-claro:#667085;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-size: 1rem;
    font-weight: 500;
}