.depoimentos {
    border-radius: 1rem;
    background: rgba(195, 25, 25, 0.03);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    max-width: 80%;
    margin: 2rem auto;
}

.depoimentos span {
    color: var(--vermelho-principal);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.depoimentos h2 {
    text-align: center;
    font-size: 2.25rem;
    padding-bottom: 2rem;
}

.nome {
    padding-top: 1rem;
}

.cargo {
    color: var(--cinza-claro);
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 1rem;
}