.vagas__disponíveis {
    padding: 2rem 0rem;
}

.vagas__área {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.30rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.oportunidade {
    border-radius: 1rem;
    border: 1px solid #EAECF0;
    background: #FFF;
    max-width: 50%;
    margin: 2rem auto;
    padding: 1rem;
}

.oportunidade__titulo {
    font-size: 1.125rem;
    padding-bottom: 2rem;
}

.informacoes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--cinza-claro);
    margin: 1rem 0;
}